Demos/Custom WCF Service/ServiceTestConsole/Service References/Integrations/mex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://chiron.class.local/_vti_bin/PermissionService.svc/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PermissionServiceWCF" />
  <xs:element name="GetPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Web" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PermissionServiceWCF" minOccurs="0" name="GetPermissionsResult" nillable="true" type="q1:ArrayOfSecurityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>