Demos/Custom WCF Service/ServiceTestConsole/Service References/Integrations/mex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PermissionServiceWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PermissionServiceWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSecurityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecurityInfo" nillable="true" type="tns:SecurityInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecurityInfo" nillable="true" type="tns:ArrayOfSecurityInfo" />
  <xs:complexType name="SecurityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="PermissionLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ressource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityPrincipal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityInfo" nillable="true" type="tns:SecurityInfo" />
</xs:schema>